urigetmethod/src/main/mule/urigetmethod.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4321c78f-e73e-4591-bb2a-03cdf9935275" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="urigetmethodFlow" doc:id="821bf58f-5666-4429-99dd-2dac72de41aa" >
		<http:listener doc:name="Listener" doc:id="eac472e1-0511-4260-a968-8922f24069ce" config-ref="HTTP_Listener_config" path="/check/{mobilemodel}"/>
		<logger level="INFO" doc:name="Logger" doc:id="5ec1a9f6-f15e-4e18-b46b-512ff5c60d6b" message="#[attributes.uriParams.'mobilemodel']"/>
		<logger level="INFO" doc:name="Logger" doc:id="f48085a3-79e7-48d9-bff8-9ebefafa1b85" message="Display"/>
	</flow>
</mule>
